@{
    ViewBag.Title = "Contato";
}

<h2>@ViewBag.Title</h2>

<address>
    Sérgio Eduardo Fonseca<br />
    (19) 9 9762-8807<br />
</address>

<address>
    <strong>
        <a href="https://www.linkedin.com/in/s%C3%A9rgio-eduardo-fonseca-b45a8447/" title="Linkedin">Linkedin</a><br />
        <a href="https://github.com/sefonsec" title="GitHub">GitHub</a><br />
        <a href="mailto:sefonsec@gmail.com" title="Email">sefonsec@gmail.com</a><br />
    </strong>
</address>